@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 1.5rem 'Nunito Sans', sans-serif;
    min-height: 100vh;

    background-color: #d34999;
    background-image: radial-gradient(whitesmoke, #d34999);
    display: flex;
    flex-direction: column;
}

header, nav, main, footer{
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header, footer{
    position: sticky;
    background-color: #d34999;
    color: whitesmoke;
}

header{
    top: 0;
}

nav{
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-bottom: 2px solid black;
}

main{
    flex-grow: 1;
}

footer{
    bottom: 0;
}
/* @media media type and (condition:breakpoint) {
} */

/*small devices*/

@media screen and (min-width: 576px) {
    body{
        background-color: aquamarine;
        background-image: radial-gradient(whitesmoke, aquamarine);
    }

    nav{
        display: none;
    }
}

/*medium devices*/

@media screen and (min-width: 768px) {
    body{
        background-color: #851ea5;
        background-image: radial-gradient(whitesmoke,#851ea5);
    }

    nav{
        display: none;
    }
}

/*large devices*/

@media screen and (min-width: 992px) {
    body{
        background-color: #a51e1e;
        background-image: radial-gradient(whitesmoke,#a51e1e);
    }

    nav{
        display: none;
    }
}

/*xlarge devices*/

@media screen and (min-width: 1200px) {
    body{
        background-color: #271ea5;
        background-image: radial-gradient(whitesmoke,#271ea5);
    }

    nav{
        display: none;
    }
}
/*mobile device landscape*/

@media screen and (min-heignt: 425px) and (min-aspect-ratio: 7/4) {
    body{
        background-color: #189918;
        background-image: radial-gradient(whitesmoke,#189918);
    }

    nav{
        display: none;
    }

    h1, h2{

        font-size: 1.5rem;
    }

    nav{
        display: none;
    }
}